<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953433661723-14brh0g1vmc77tf31am5phd42dkgi6h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953433661723-14brh0g1vmc77tf31am5phd42dkgi6h1</string>
	<key>API_KEY</key>
	<string>AIzaSyDe4hRE0S2I4n0X3QOP6g6GfMzDrailBXU</string>
	<key>GCM_SENDER_ID</key>
	<string>953433661723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProfile</string>
	<key>PROJECT_ID</key>
	<string>personal-profile-34a44</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-profile-34a44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953433661723:ios:447999276b2c8704f473be</string>
</dict>
</plist>